@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100vh;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}
#apps {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.developers {
    max-width: 1200px;
    width: 100%;
}
.developers .items {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
    padding: 40px 0;
}
.developers .items .item {
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    /* background-color: #222; */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.developers .items .item::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 0%;
    background-color: #f3a60f;
    left: 0;
    bottom: 0;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
}
.developers .items .item:hover::before {
    width: 100%;
}
.developers .items .item .content {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.developers .items .item .content .image {
    height: 350px;
    width: 100%;
    border-radius: 0 0 60% 60%;
    background-color: #f6f6f6;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
}
.developers .items .item .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 60% 60%;
}

.developers .items .item .content .info {
    height: 340px;
    padding: 30px 30px 30px 20px;
    text-align: center;
}
.developers .items .item .content .info .name {
    font-size: 24px;
    font-weight: 600;
    color: #444;
    margin-bottom: 8px;
}
/* .developers .items .item .content .info .name span {
    color: #f3a60f;
} */
.developers .items .item .content .info .designation {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}
.developers .items .item .content .info .phone,
.developers .items .item .content .info .mail,
.developers .items .item .content .info .address {
    color: #777;
    font-size: 16px;
    display: block;
    line-height: 28px;
}
.developers .items .item .content .info .phone {
    color: #f3a60f;
}
.developers .items .item .content .info .mail {
    color: #609513;
}
.developers .items .item .content .info .step {
    margin-bottom: 8px;
}
.developers .items .item .content .info .step p {
    line-height: 22px;
    color: #777;
}
.developers .items .item .content .socials {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.developers .items .item .content .socials .lists {
    display: flex;
    column-gap: 8px;
    list-style: none;
}
.developers .items .item .content .socials .lists .list .link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.developers .items .item .content .socials .lists .list .link.facebook {
    color: #0866FF;
}
.developers .items .item .content .socials .lists .list .link.twitter {
    color: #00acee;
}
.developers .items .item .content .socials .lists .list .link.linkedin {
    color: #0072b1;
}
.developers .items .item .content .socials .lists .list .link.github {
    color: #4078c0;
}
.developers .items .item .content .socials .lists .list .link.youtube {
    color: #CD201F;
}
.developers .items .item .content .socials .lists .list .link.skype {
    color: #00aff0;
}
.developers .items .item .content .socials .lists .list .link.website {
    color: #800000;
}
.developers .items .item .content .socials .lists .list .link:hover {
    color: #ffffff;
}
.developers .items .item .content .socials .lists .list .link.facebook:hover {
    background-color: #0866FF;
}
.developers .items .item .content .socials .lists .list .link.twitter:hover {
    background-color: #00acee;
}
.developers .items .item .content .socials .lists .list .link.linkedin:hover {
    background-color: #0072b1;
}
.developers .items .item .content .socials .lists .list .link.github:hover {
    background-color: #4078c0;
}
.developers .items .item .content .socials .lists .list .link.youtube:hover {
    background-color: #CD201F;
}
.developers .items .item .content .socials .lists .list .link.skype:hover {
    background-color: #00aff0;
}
.developers .items .item .content .socials .lists .list .link.website:hover {
    background-color: #800000;
}
.developers .items .item .content .actions {
    display: none;
}






/* ======================================================= */
/* ============================================ */
/* half-round */
.developers .items.half-round .item .content .image {
    height: 340px;
    width: 100%;
    border-radius: 0 0 60% 60%;
    background-color: #f6f6f6;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
}
.developers .items.half-round .item .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 60% 60%;
}

/* round */
.developers .items.round .item .bgc {
    position: absolute;
    width: 100%;
    height: 180px;
    border-radius: 12px 12px 0 0;
    background: linear-gradient(106.32deg, #f3a60f 14.23%, rgba(255, 25, 25, 0) 139.97%);
}
.developers .items.round .item .content .image {
    margin-top: 80px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.25);
}
.developers .items.round .item .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

/* look */
.developers .items.look .item:nth-child(1)::before {
    background-color: #f3a60f;
}
.developers .items.look .item:nth-child(2)::before {
    background-color: #0fbef3;
}
.developers .items.look .item:nth-child(3)::before {
    background-color: #f30ff3;
}
.developers .items.look .item .bgc {
    position: absolute;
    width: 100%;
    height: 180px;
    border-radius: 12px 12px 0 0;
    background: linear-gradient(106.32deg, #0fbef3 14.23%, rgba(255, 25, 25, 0) 139.97%);
}
.developers .items.look .item:nth-child(1) .bgc {
    background: linear-gradient(106.32deg, #f3a60f 14.23%, rgba(255, 25, 25, 0) 139.97%);
}
.developers .items.look .item:nth-child(2) .bgc {
    background: linear-gradient(106.32deg, #0fbef3 14.23%, rgba(255, 25, 25, 0) 139.97%);
}
.developers .items.look .item:nth-child(3) .bgc {
    background: linear-gradient(106.32deg, #f30ff3 14.23%, rgba(255, 25, 240, 0) 139.97%);
}
.developers .items.look .item .content .image {
    margin-top: 80px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.25);
}
.developers .items.look .item .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.developers .items.look .item .content .info {
    height: 350px;
}
.developers .items.look .item .content .socials {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    margin-bottom: 0;
}
.developers .items.look .item .content .socials .lists {
    display: block;
    width: 100%;
    margin-top: 20px;
}
.developers .items.look .item .content .socials .lists .list {
    width: 50%;
    margin: 2px 0;
}
.developers .items.look .item .content .socials .lists .list:nth-child(odd){
    float: left;
    display: flex;
    justify-content: start;
    padding-left: 20px;
}
.developers .items.look .item .content .socials .lists .list:nth-child(even){
    float: right;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}
.developers .items.look .item .content .socials .lists .list .link {
    width: auto;
    height: auto;
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    padding: 6px;
}
.developers .items.look .item .content .socials .lists .list .link:hover {
    background-color: transparent;
}
.developers .items.look .item .content .actions {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
}
.developers .items.look .item .content .actions .action {
    border: none;
    outline: none;
    background: linear-gradient(106.32deg, #0fbef3 14.23%, rgba(255, 25, 25, 0) 139.97%);
    color: #fff;
    padding: 12px 28px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}
.developers .items.look .item .content .actions .action:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transform: translateY(-2px);
}
.developers .items.look .item:nth-child(1) .content .actions .action {
    background: linear-gradient(106.32deg, #f3a60f 14.23%, rgba(255, 25, 25, 0) 139.97%);
}
.developers .items.look .item:nth-child(2) .content .actions .action {
    background: linear-gradient(106.32deg, #0fbef3 14.23%, rgba(255, 25, 25, 0) 139.97%);
}
.developers .items.look .item:nth-child(3) .content .actions .action{
    background: linear-gradient(106.32deg, #f30ff3 14.23%, rgba(255, 25, 25, 0) 139.97%);
}
/* ===================== */








@media only screen and (max-width: 991px) {
    .developers .items {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
@media only screen and (max-width: 767px) {
    .developers .items {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    .developers .items .item .content .info {
        height: 400px;
    }
}
@media only screen and (max-width: 600px) {
    .developers .items {
        grid-template-columns: 1fr;
    }
}